* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
 
}

html {
  overflow-x: hidden;
}

:root {
  --main-color: #f8b281;
  --secondary-color: #1b1b1b;
}


section {
  padding: 5%;
}

h2 {
  font-size: 3rem;
  line-height: 125%;
  padding: 1rem 0rem;
  font-family: 'Courgette', cursive;
}

h3 {
  font-size: 1.25rem;
  line-height: 125%;
  margin-bottom: 10px;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav svg {
  cursor: pointer;
  z-index: 10;
}

.links {
  position: absolute;
  background: white;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transform: translateX(100%);
}

.links a {
  color: var(--secondary-color);
  font-size: 2rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  margin-left: 0.5rem;
  font-size: 1rem;
}

.logo img {
  width: 1.5rem;
}

.front-page {
  min-height: 100vh;
  color: white;
}

.selling-point {
  margin-top: 25vh;
/*font-family: 'Comforter', cursive;*/
  font-family: 'Courgette', cursive;
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.49);
  text-align: center;
}

.selling-point h3 {
/*font-family: 'Comforter';*/
  font-family: 'Courgette', cursive;
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.49);
}

.ctas {
  margin-top: 2rem;
}

.ctas button {
  padding: 1rem;
  font-size: 2rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.216);
  margin: 1rem;
}

.cta-main {
  background-color: var(--main-color);
  color: var(--secondary-color);
}

.cta-main a {
  text-decoration: none;
  color: var(--secondary-color);
}

.cta-sec {
  background-color: var(--secondary-color);
  color: white;
}

.hero {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.classes {
  color: var(--secondary-color);
  text-align: center;
/*font-family: "argonite", sans-serif;*/
    font-family: 'Courgette', cursive;
}

.videos video {
  width: 100%;
  border-radius: 1rem;
  margin-top: 1rem;
}

.meditation,
.yoga,
.pilates {
  position: relative;
}

.videos h3 {
  position: absolute;
  color: var(--main-color);
  text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.408);
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  font-size: 2rem;
}

.about {
  color: var(--secondary-color);
}

.about h2 {

  font-family: 'Courgette', cursive;
  text-align: center;
}

.about p {
  line-height: 150%;
  font-size: 1.2rem;
}

.about img {
  width: 100%;
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0% 10%;
  }

  .videos {
    display: flex;
    gap: 2rem;
  }

  .about {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
  }

  .about img {
    width: 50%;
  }

  .about h2 {
    text-align: start;
  }
}

@media screen and (min-width: 900px) {
  body {
    padding: 0% 10%;
  }

  .videos {
    display: flex;
    gap: 2rem;
  }

  .about {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
  }

  .about img {
    width: 25%;
  }

  .about h2 {
    text-align: start;
  }
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.image-gallery>li {
  flex-basis: 350px;
  /* width: 350px; */
}

.image-gallery li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 10px;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.grid-item {

  float: left;
  width: 25%;
  margin-top: 6px;
/*font-family: 'Montserrat', sans-serif;*/
font-family: 'Montserrat', sans-serif
}

input[type=text],
input[type=number],
input[type=email],
textarea,
select,
select#interes {
  width: 90%;
  padding: 12px 20px;
  margin-left: 2%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
/*font-family: 'Montserrat', sans-serif;*/
font-family: 'Montserrat', sans-serif
}

input[type=submit] {
  width: 50%;
  background-color: #3A6A59;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

textarea {
  resize: none;
font-family: 'Montserrat', sans-serif;
}

input[type=text]:focus, select:focus {
  border: 3px solid #555;
font-family: 'Montserrat', sans-serif;
}

input[type=radio] {
  padding: 0px;
  margin-top: 0px;
}

::placeholder {
  font-size: medium;
  font-style: oblique;
}
label,select,option{
font-family: 'Montserrat', sans-serif;
}


.grid-container {
  display: grid;
grid-template-columns: 2fr 3fr;
gap: 5px;
}

.grid-item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  font-family: 'Courgette', cursive;
  margin-left: 10px;
  padding: 12px 20px;
  
  
}
.grid-item2{
  grid-column-start: 2;
  grid-column-end: 3;
  font-family: 'Montserrat', sans-serif;
  padding: 12px 0px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.footerLinks {
    text-decoration: none;
    background-color: #335d4e;
    max-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    padding: 10px;    
  }

.footerLinks ul {
  display: inline-block;
  justify-content: center;

}

.footerLinks ul li {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  border-left: 1px solid antiquewhite;
  padding-left: 20px;
  padding-right: 20px;
}

/* unvisited link */
footer a:link {
  color: beige
}

/* visited link */
footer a:visited {
  color: beige;
}

/* mouse over link */
footer a:hover {
  color: yellow;
}

/* selected link */
footer a:active {
  color: blue;
}
footer span{
  padding: 3mm;
}


.sidenav {
  right: 0;
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}


.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.sidenav a:hover {
  color: #f1f1f1;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


#main {
  transition: margin-left .5s;
  padding: 20px;
}

img.foto{
  border-radius: 50%;
}
.testimonio p {
  line-height: 150%;
  font-size: 1.2rem;
}

span.openbtn{
  cursor:pointer;
}
